/* LEFT - SIDEBAR */
/* Optional: Style submenu expand icon (dots/arrow) when sidebar is open */
.ps-submenu-expand-icon {
  color: rgb(98, 98, 210) !important; /* Set your desired color */
  font-size: 18px !important;
}


/* HEADER */

.sub-menu-item:hover {
  background-color: rgb(243, 242, 242);
}

/* PAGINATION BUTTON HOVER */

.pagination-button:hover {
  background-color: #292965;
  color: white;
}